/* Font */
@font-face {
    font-family: "InriaSans";
    src: local("InriaSans"), url("/font/InriaSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "InriaSans";
    src: local("InriaSans"), url("/font/InriaSans-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "InriaSans";
    src: local("InriaSans"), url("/font/InriaSans-Light.ttf");
    font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: local("Lato"), url("/font/Lato-Black.ttf");
	font-weight: 800;
}
@font-face {
	font-family: "Lato";
	src: local("Lato"), url("/font/Lato-Regular.ttf");
	font-weight: 400;
}
:root {
	--white-1: #FFFFFF;
	--white-2: #EAEAEA;
	--white-3: #D9D9D9;
	--white-1-05: #FFFFFF0d;
	--white-1-12: #FFFFFF1f;
	--white-1-30: #ffffff60;
	--white-1-50: #FFFFFF80;
	--gray-1: #DEDEDE;
	--gray-2: #8F8F8F;
	--gray-3: #8D8D8D;
	--gray-4: #858585;
	--gray-5: #CCCCCC;
	--gray-6: #707070;
	--gray-6-33: rgba(112, 112, 112, 0.3373);
	--orange-1: #E8AF90;
	--orange-2: #F1850A;
	--orange-3: #E15625;
	--orange-4: #8E4229;
	--red-0: #F57777;
	--red-1: #FFA9A9;
	--red-2: #EF5757;
	--red-3: #FE3E3E;
	--red-4: #D80000;
	--red-5: #690606;
	--lightblue-1: #61CDFF;
	--darkblue-0: #68808E;
	--darkblue-1: #2D5A77;
	--darkblue-2: #183243;
	--darkblue-3: #112430;
	--darkblue-4: #041825;
	--darkblue-5: #8DA3B1;
	--darkblue-6: #536571;
	--darkblue-7: #28363E;
	--darkblue-8: #061A27;
	--dark-0: #000000;
	--dark-1: #4B4B4B;
	--dark-2: #252525;
	--dark-3: #131313;
	--yellow-1: #FFC164;
	--yellow-2: #FFA51F;
	--green-1: #95DD72;
	--green-2: #8BDE8E;
	--green-3: #5DA283;
	--green-4: #1D3733;
	--cream-1: #FFE0B2;
	--white-opacity-bg-card: rgba(112, 112, 112, 0.3373);
	--main-header-height: 89.38px;
	--main-sidebar-width: 75px;
	--main-sidebar-height-mobile: 65px;
}
/* General */
body {
    background-color: var(--darkblue-4);
}
* {
    box-sizing: border-box;
    font-family: "InriaSans";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
*.custom-scrollbar {
    overflow-y: auto;
	overflow-x: hidden;
}
*.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--white-1-50);
    border-radius: 20px;
}
*.custom-scrollbar::-webkit-scrollbar-corner {
	background-color: transparent;
}
*.custom-scrollbar::-webkit-scrollbar {
    background-color: var(--white-1-12);
    width: 7px;
    height: 7px;
	border-radius: 20px;
}
@media (max-width: 600px) {
	*.custom-scrollbar::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}
@media (min-width: 1500px) {
	*.custom-scrollbar::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
}